.tile {
    background-color: antiquewhite;
    border: 1px solid black;
    margin: auto;
    width: 45px;
    height: 45px;
    display: flex;
    cursor: pointer;
}

.letterUI {
    display: grid;
    position: absolute;
    margin-top: 39%;
    row-gap: 10px;
}

.topRow{
    display: grid;
    grid-template-columns: 1fr repeat(15, 50px) 1fr;
    column-gap: 10px;
}

.bottomRow{
    display: grid;
    grid-template-columns: 1fr repeat(14, 50px) 1fr;
    column-gap: 10px;
}

h1{
    text-align: center;
    font-size: 35px;
    margin: auto;
    margin-top: 5px;
    font-family: Inter;
}

h2{
    position: absolute;
    font-family: Inter;
    font-size: 14px;
    margin: auto;
}