body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f8f8;
}

.game-container {
    text-align: center;
    position: absolute;
    top: 4vw;
}

.timer {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(11, 48px);
    grid-template-rows: repeat(11, 48px);
    gap: 0;
    border: 0px solid black;
}

.grid-item {
    width: 48px;
    height: 48px;
    background-color: #fff;
    border:2px solid black;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.grid-item:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px #007bff;
}

/*Show points*/
.score-container { 
    margin-top: 20px; 
} 
#current-score { 
    font-size: 24px; 
    font-weight: bold; 
}