body {
    display: flex;
    align-items: center;
}


/* Stil för knappen */
#disconnect {
    margin: 10px;
    padding: 10px 20px;
    background-color: #FFCC00; /* Gul färg */
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

/* Stil för knappen vid hover */
#disconnect:hover {
    background-color: #FF9900; /* Mörkare gul färg */
}
