body {
    display: flex;
    align-items: center;
}


/* Stil för knappen "Avsluta spelet" */
#endGame {
    margin: 10px;
    padding: 10px 20px;
    background-color: #7FEFBD; /* Aquamarine-färg */
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

/* Stil för knappen vid hover */
#endGame:hover {
    background-color: #D64550; /* Rusty red-färg */
}
