body {
    display: flex;
    align-items: center;
}

.playername {
    margin-top: 20px;
    align-items: center;
}

.volume-control{
    position: fixed;
    top: 10px;
    right:10px;
    display: flex;
    align-items: center;
    z-index: 1000;
}

#volume-slider {
    width: 150px;
}